
@{
    ViewBag.Title = "Add new Shape";
}

<h2>Add Shape</h2>

@using (Html.BeginForm("Triangle", "Home", FormMethod.Post))
{

    <div class="form-group">
        <label for="desc">Description</label>
        <textarea class="form-control" id="desc" name="desc" rows="3"></textarea>
    </div>
    <div class="form-group">
        <label for="fill">Fill</label>
        <input type="color" id="fill" name="fill"/>
    </div>
    <div class="form-group">
        <label for="outline">Stroke Colour</label>
        <input type="color" id="outline" name="outline"/>
    </div>
    <div class="form-group">
        <label for="stroke">Stroke Width</label>
        <input type="number" min="0" max="3" class="form-control" name="stroke" id="stroke">
    </div>

    <div class="form-group">
        <label for="xCoord1">X1 Coordinate</label>
        <input type="number" min="0" max="449" class="form-control" name="xCoord1" id="xCoord1">
    </div>
    <div class="form-group">
        <label for="yCoord1">Y1 Coordinate</label>
        <input type="number" min="0" max="399" class="form-control" name="yCoord1" id="yCoord1">
    </div>


    <div class="form-group">
        <label for="xCoord2">X2 Coordinate</label>
        <input type="number" min="0" max="449" class="form-control" name="xCoord2" id="xCoord2">
    </div>
    <div class="form-group">
        <label for="yCoord2">Y2 Coordinate</label>
        <input type="number" min="0" max="399" class="form-control" name="yCoord2" id="yCoord2">
    </div>


    <div class="form-group">
        <label for="xCoord3">X3 Coordinate</label>
        <input type="number" min="0" max="449" class="form-control" name="xCoord3" id="xCoord3">
    </div>
    <div class="form-group">
        <label for="yCoord">Y3 Coordinate</label>
        <input type="number" min="0" max="399" class="form-control" name="yCoord3" id="yCoord3">
    </div>



    <button type="submit" class="btn btn-primary">Submit</button>
}

@section Scripts {

    <script></script>

}



